name: Execute notebook

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  setup-build:
    name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Setup Conda
      uses: s-weigand/setup-conda@v1
      with:
        update-conda: true
        conda-channels: conda-forge
        python-version: ${{ matrix.python-version }}

    - name: Install Env
      shell: bash
      run: |
        python --version
        conda env create -f environment.yml

    - name: Add Papermill & View Kernels |
      shell: bash
      run: |
        source activate ea-python
        conda install -c conda-forge papermill
        jupyter kernelspec list

    - name: Run all notebooks
      run: |
        source activate ea-python
        # Loop through all notebooks and run them using papermill
        for i in *.ipynb; do papermill $i testing.ipynb || break;
        done

    - name: Run notebook
      run: |
        # If you wanted you could automate this workflow to run all notebooks
        source activate ea-python
        papermill ea-2021-01-what-the-fork.ipynb testing.ipynb
